:root {
  --square-size: 60px;
}

.all {
  flex: 1 1 auto;
  background-color: var(--dark);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.mainzone {
  /* background-color: var(--light-green); */
  /* flex: 1 1 auto; */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.board {
  background-repeat: no-repeat;
  background-size: 100%;
  /* border-radius: 3px; */
  contain: layout;
  height: calc(var(--square-size) * 10);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: calc(var(--square-size) * 8);
}

#board-single {
  background-image: url("../images/iratusboard-small.jpg");
}

@media only screen and (min-width: 1024px) {
  #board-single {
    background-image: url("../images/iratusboard.png");
  }
}

.piece {
  background-size: 100%;
  cursor: pointer;
  cursor: grab;
  cursor: -webkit-grab;
  height: 10%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 12.5%;
  will-change: transform;
  z-index: 2;
}

.piece.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  z-index: 3;
}

.square {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 10%;
  /* pointer-events: none; */
}

.square.selected {
  background-color: var(--selected);
  opacity: 0.5;
}

.square.accessible {
  background: radial-gradient(var(--accessible) 25%, rgba(0, 0, 0, 0) 0%);
  /* pointer-events: auto; */
}

.square.captureable {
  background: radial-gradient(transparent 59%, var(--accessible) 59%, var(--accessible) 69%, transparent 0%);
}

.phantom {
  opacity: .7;
}

/* PROMOTION */

.promotion-window {
  background-color: var(--light-green);
  border-radius: 3px;
  bottom: 0;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 45%);
  display: none;
  flex-direction: column-reverse;
  height: 65%;
  left: 0;
  position: absolute;
  top: auto;
  width: 12.5%;
  z-index: 3;
  cursor: pointer;
}

.promotion-cancel {
  height: calc(var(--square-size) / 2);
  display: flex;
  justify-content: center;
}

.promotion-cancel p {
  height: 100%;
  font-size: 135%;
  margin: 0;
}

.promotion-window.top {
  top: 0;
  bottom: auto;
}

.promotion-piece {
  height: var(--square-size);
  background-size: contain;
}

.promotion-window.top .q {
  order: 6;
}

.promotion-window.top .n {
  order: 5;
}

.promotion-window.top .r {
  order: 4;
}

.promotion-window.top .b {
  order: 3;
}

.promotion-window.top .ed {
  order: 2;
}

.promotion-window.top .es {
  order: 1;
}

/* INFO */

#info {
  position: absolute;
  left: 50%;
  top: 18%;
  width: calc(var(--square-size) * 8 * .8);
  transform: translateX(-50%);
  background-color: var(--light-green);
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.63rem 0.07rem rgb(0 0 0 / 40%);
  height: calc(var(--square-size) * 8 * .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 3;
}

#info h2 {
  font-size: calc(var(--square-size) * 2 / 3);
  flex: 1 1 auto;
  margin: calc(var(--square-size) / 3);
}

#info p {
  font-size: calc(var(--square-size) / 2);
  flex: 5 1 auto;
  margin: 0;
  margin-bottom: 16px;
}

#info img {
  flex: 5 1 auto;
  aspect-ratio: auto;
  margin-top: calc(var(--square-size) * -.3);
  max-width: calc(var(--square-size) * 2);
  max-height: calc(var(--square-size) * 2);
}

#info button {
  border: 2px solid black;
  flex: 0 1 auto;
  margin-bottom: calc(var(--square-size) / 4);
}

#info .info-close {
  /* 'X' close icon - mobile version only */
  position: absolute;
  z-index: 1;
  margin: 5px;
  right: 0;
  top: 0;
  height: calc(var(--square-size) * .8);
  width: calc(var(--square-size) * .8);
  /* image replacement */
  overflow: hidden;
  /* text-indent: 1000%; */
  color: transparent;
  white-space: nowrap;
  border-radius: 3px;
  /* border: var(--light-green) 2px solid; */
}

.info-close::after,
.info-close::before {
  /* this is the 'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 20px;
  width: 2px;
  background-color: var(--light-green);
}

.info-close:hover::after,
.info-close:hover::before {
  background-color: black;
}

.info-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.info-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(316deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

/* CONTROLS */

.controls {
  background-color: var(--dark);
  width: calc(var(--square-size) * 8);
  height: var(--square-size);
  display: flex;
  justify-content: center;
  margin-top: calc(var(--square-size) / 2);
}

.controls button {
  padding: 0;
  transition: background-color .2s;
  -webkit-tap-highlight-color: var(--light-green);
  width: var(--square-size);
}

.controls button:hover {
  background-color: var(--dark);
  color: var(--light-green);
}

@media only screen and (min-width: 1024px) {
  .controls button:hover {
    background-color: var(--light-green);
    color: black;
  }

  .controls button:active {
    border: 4px solid black;
  }
}

/* SQUARE-XX */

.square-0 {
  transform: translate(000%, 000%)
}

.flipped .square-0 {
  transform: translate(900%, 700%)
}

.square-10 {
  transform: translate(100%, 000%)
}

.flipped .square-10 {
  transform: translate(800%, 700%)
}

.square-20 {
  transform: translate(200%, 000%)
}

.flipped .square-20 {
  transform: translate(700%, 700%)
}

.square-30 {
  transform: translate(300%, 000%)
}

.flipped .square-30 {
  transform: translate(600%, 700%)
}

.square-40 {
  transform: translate(400%, 000%)
}

.flipped .square-40 {
  transform: translate(500%, 700%)
}

.square-50 {
  transform: translate(500%, 000%)
}

.flipped .square-50 {
  transform: translate(400%, 700%)
}

.square-60 {
  transform: translate(600%, 000%)
}

.flipped .square-60 {
  transform: translate(300%, 700%)
}

.square-70 {
  transform: translate(700%, 000%)
}

.flipped .square-70 {
  transform: translate(200%, 700%)
}

.square-1 {
  transform: translate(000%, 100%)
}

.flipped .square-1 {
  transform: translate(900%, 600%)
}

.square-11 {
  transform: translate(100%, 100%)
}

.flipped .square-11 {
  transform: translate(800%, 600%)
}

.square-21 {
  transform: translate(200%, 100%)
}

.flipped .square-21 {
  transform: translate(700%, 600%)
}

.square-31 {
  transform: translate(300%, 100%)
}

.flipped .square-31 {
  transform: translate(600%, 600%)
}

.square-41 {
  transform: translate(400%, 100%)
}

.flipped .square-41 {
  transform: translate(500%, 600%)
}

.square-51 {
  transform: translate(500%, 100%)
}

.flipped .square-51 {
  transform: translate(400%, 600%)
}

.square-61 {
  transform: translate(600%, 100%)
}

.flipped .square-61 {
  transform: translate(300%, 600%)
}

.square-71 {
  transform: translate(700%, 100%)
}

.flipped .square-71 {
  transform: translate(200%, 600%)
}

.square-2 {
  transform: translate(000%, 200%)
}

.flipped .square-2 {
  transform: translate(900%, 500%)
}

.square-12 {
  transform: translate(100%, 200%)
}

.flipped .square-12 {
  transform: translate(800%, 500%)
}

.square-22 {
  transform: translate(200%, 200%)
}

.flipped .square-22 {
  transform: translate(700%, 500%)
}

.square-32 {
  transform: translate(300%, 200%)
}

.flipped .square-32 {
  transform: translate(600%, 500%)
}

.square-42 {
  transform: translate(400%, 200%)
}

.flipped .square-42 {
  transform: translate(500%, 500%)
}

.square-52 {
  transform: translate(500%, 200%)
}

.flipped .square-52 {
  transform: translate(400%, 500%)
}

.square-62 {
  transform: translate(600%, 200%)
}

.flipped .square-62 {
  transform: translate(300%, 500%)
}

.square-72 {
  transform: translate(700%, 200%)
}

.flipped .square-72 {
  transform: translate(200%, 500%)
}

.square-3 {
  transform: translate(000%, 300%)
}

.flipped .square-3 {
  transform: translate(900%, 400%)
}

.square-13 {
  transform: translate(100%, 300%)
}

.flipped .square-13 {
  transform: translate(800%, 400%)
}

.square-23 {
  transform: translate(200%, 300%)
}

.flipped .square-23 {
  transform: translate(700%, 400%)
}

.square-33 {
  transform: translate(300%, 300%)
}

.flipped .square-33 {
  transform: translate(600%, 400%)
}

.square-43 {
  transform: translate(400%, 300%)
}

.flipped .square-43 {
  transform: translate(500%, 400%)
}

.square-53 {
  transform: translate(500%, 300%)
}

.flipped .square-53 {
  transform: translate(400%, 400%)
}

.square-63 {
  transform: translate(600%, 300%)
}

.flipped .square-63 {
  transform: translate(300%, 400%)
}

.square-73 {
  transform: translate(700%, 300%)
}

.flipped .square-73 {
  transform: translate(200%, 400%)
}

.square-4 {
  transform: translate(000%, 400%)
}

.flipped .square-4 {
  transform: translate(900%, 300%)
}

.square-14 {
  transform: translate(100%, 400%)
}

.flipped .square-14 {
  transform: translate(800%, 300%)
}

.square-24 {
  transform: translate(200%, 400%)
}

.flipped .square-24 {
  transform: translate(700%, 300%)
}

.square-34 {
  transform: translate(300%, 400%)
}

.flipped .square-34 {
  transform: translate(600%, 300%)
}

.square-44 {
  transform: translate(400%, 400%)
}

.flipped .square-44 {
  transform: translate(500%, 300%)
}

.square-54 {
  transform: translate(500%, 400%)
}

.flipped .square-54 {
  transform: translate(400%, 300%)
}

.square-64 {
  transform: translate(600%, 400%)
}

.flipped .square-64 {
  transform: translate(300%, 300%)
}

.square-74 {
  transform: translate(700%, 400%)
}

.flipped .square-74 {
  transform: translate(200%, 300%)
}

.square-5 {
  transform: translate(000%, 500%)
}

.flipped .square-5 {
  transform: translate(900%, 200%)
}

.square-15 {
  transform: translate(100%, 500%)
}

.flipped .square-15 {
  transform: translate(800%, 200%)
}

.square-25 {
  transform: translate(200%, 500%)
}

.flipped .square-25 {
  transform: translate(700%, 200%)
}

.square-35 {
  transform: translate(300%, 500%)
}

.flipped .square-35 {
  transform: translate(600%, 200%)
}

.square-45 {
  transform: translate(400%, 500%)
}

.flipped .square-45 {
  transform: translate(500%, 200%)
}

.square-55 {
  transform: translate(500%, 500%)
}

.flipped .square-55 {
  transform: translate(400%, 200%)
}

.square-65 {
  transform: translate(600%, 500%)
}

.flipped .square-65 {
  transform: translate(300%, 200%)
}

.square-75 {
  transform: translate(700%, 500%)
}

.flipped .square-75 {
  transform: translate(200%, 200%)
}

.square-6 {
  transform: translate(000%, 600%)
}

.flipped .square-6 {
  transform: translate(900%, 100%)
}

.square-16 {
  transform: translate(100%, 600%)
}

.flipped .square-16 {
  transform: translate(800%, 100%)
}

.square-26 {
  transform: translate(200%, 600%)
}

.flipped .square-26 {
  transform: translate(700%, 100%)
}

.square-36 {
  transform: translate(300%, 600%)
}

.flipped .square-36 {
  transform: translate(600%, 100%)
}

.square-46 {
  transform: translate(400%, 600%)
}

.flipped .square-46 {
  transform: translate(500%, 100%)
}

.square-56 {
  transform: translate(500%, 600%)
}

.flipped .square-56 {
  transform: translate(400%, 100%)
}

.square-66 {
  transform: translate(600%, 600%)
}

.flipped .square-66 {
  transform: translate(300%, 100%)
}

.square-76 {
  transform: translate(700%, 600%)
}

.flipped .square-76 {
  transform: translate(200%, 100%)
}

.square-7 {
  transform: translate(000%, 700%)
}

.flipped .square-7 {
  transform: translate(900%, 000%)
}

.square-17 {
  transform: translate(100%, 700%)
}

.flipped .square-17 {
  transform: translate(800%, 000%)
}

.square-27 {
  transform: translate(200%, 700%)
}

.flipped .square-27 {
  transform: translate(700%, 000%)
}

.square-37 {
  transform: translate(300%, 700%)
}

.flipped .square-37 {
  transform: translate(600%, 000%)
}

.square-47 {
  transform: translate(400%, 700%)
}

.flipped .square-47 {
  transform: translate(500%, 000%)
}

.square-57 {
  transform: translate(500%, 700%)
}

.flipped .square-57 {
  transform: translate(400%, 000%)
}

.square-67 {
  transform: translate(600%, 700%)
}

.flipped .square-67 {
  transform: translate(300%, 000%)
}

.square-77 {
  transform: translate(700%, 700%)
}

.flipped .square-77 {
  transform: translate(200%, 000%)
}

.square-8 {
  transform: translate(000%, 800%)
}

.flipped .square-8 {
  transform: translate(900%, -100%)
}

.square-18 {
  transform: translate(100%, 800%)
}

.flipped .square-18 {
  transform: translate(800%, -100%)
}

.square-28 {
  transform: translate(200%, 800%)
}

.flipped .square-28 {
  transform: translate(700%, -100%)
}

.square-38 {
  transform: translate(300%, 800%)
}

.flipped .square-38 {
  transform: translate(600%, -100%)
}

.square-48 {
  transform: translate(400%, 800%)
}

.flipped .square-48 {
  transform: translate(500%, -100%)
}

.square-58 {
  transform: translate(500%, 800%)
}

.flipped .square-58 {
  transform: translate(400%, -100%)
}

.square-68 {
  transform: translate(600%, 800%)
}

.flipped .square-68 {
  transform: translate(300%, -100%)
}

.square-78 {
  transform: translate(700%, 800%)
}

.flipped .square-78 {
  transform: translate(200%, -100%)
}

.square-9 {
  transform: translate(000%, 900%)
}

.flipped .square-9 {
  transform: translate(900%, -200%)
}

.square-19 {
  transform: translate(100%, 900%)
}

.flipped .square-19 {
  transform: translate(800%, -200%)
}

.square-29 {
  transform: translate(200%, 900%)
}

.flipped .square-29 {
  transform: translate(700%, -200%)
}

.square-39 {
  transform: translate(300%, 900%)
}

.flipped .square-39 {
  transform: translate(600%, -200%)
}

.square-49 {
  transform: translate(400%, 900%)
}

.flipped .square-49 {
  transform: translate(500%, -200%)
}

.square-59 {
  transform: translate(500%, 900%)
}

.flipped .square-59 {
  transform: translate(400%, -200%)
}

.square-69 {
  transform: translate(600%, 900%)
}

.flipped .square-69 {
  transform: translate(300%, -200%)
}

.square-79 {
  transform: translate(700%, 900%)
}

.flipped .square-79 {
  transform: translate(200%, -200%)
}