.contact {
  border: 0;
  width: 100%;
  height: calc(100vh - 2.9rem - var(--header-height));
  color: var(--light-green);
}

@media (min-width: 614px) {
  .contact {
    height: calc(100vh - 2.9rem);
  }
}
