.menu-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.menu-bar-trigger {
  /* left: .6rem; */
  padding: 0.6rem;
  position: absolute;
  /* top: .6rem; */
}

.menu-bar-trigger:hover {
  background-color: var(--light-green);
  fill: var(--darker);
}

.menu-bar-wrapper {
  --menu-bar-width: 20rem;
  background-color: var(--darker);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--menu-bar-width);
}

@media (min-width: 614px) {
  .menu-bar-wrapper {
    --menu-bar-width: 5rem;
  }
}

.menu-bar-wrapper.closed-for-mobile {
  display: none;
}

@media (min-width: 614px) {
  .menu-bar-wrapper.closed-for-mobile {
    display: block;
  }
}

.menu-bar-btn {
  position: relative;
  left: 0;
  padding: 0.7rem;
}

.menu-panel-wrapper {
  cursor: pointer;
  display: flex;
  height: 5rem;
}

.menu-panel-wrapper h1 {
  /* font-family: var(--fontfamily-simple); */
  font-size: x-large;
  /* height: 5rem; */
  margin: 0.8rem 2rem;
  text-align: center;
}

.menu-panel-wrapper.home-btn:hover {
  background-color: var(--light-green);
  border-radius: 3px;
}

.menu-panel-wrapper.home-btn:hover h1 {
  color: var(--darker);
}

.menu-panel {
  --menu-panel-width: calc(var(--square-size) * 8 - 4em);
  background-color: var(--dark);
  box-shadow: 0.6em -1em 1em var(--darker);
  color: var(--light-green);
  display: none;
  font-size: 3em;
  bottom: 0;
  left: 5rem;
  overflow-y: auto;
  padding: 1em;
  position: absolute;
  top: 0;
  width: var(--menu-panel-width);
}

@media (min-width: 530px) {
  .menu-panel-wrapper:hover .menu-panel {
    left: var(--menu-bar-width);
    --menu-panel-width: 9em;
  }
}

/* DESKTOP & MOBILE HEADER - TODO : SORT */

header {
  align-items: center;
  background-color: var(--darker);
  display: flex;
  height: var(--header-height);
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu-delimiter {
  background-color: var(--light-green);
  height: 2px;
  margin: 0.7rem;
  width: 3.6rem;
}

header h1 {
  color: var(--light-green);
  font-size: 4.2em;
  font-weight: normal;
}

.menu-bar-btn {
  border-radius: 3px;
  cursor: pointer;
  fill: var(--light-green);
  height: 3.6rem;
  width: 3.6rem;
}

.menu-panel-wrapper:hover .menu-bar-btn {
  background-color: var(--light-green);
  fill: var(--darker);
}

.menu-panel-wrapper:hover .menu-panel {
  display: block;
}

.menu-panel h2 {
  margin: 0;
  text-align: center;
}

.menu-panel p {
  font-size: 2.1rem;
}

.menu-panel .menu-delimiter {
  margin: 1.2em 0 0.5em 0;
  width: 100%;
}

.menu-panel p {
  /* font-size: 4em; */
  margin: 0;
}

.menu-panel button {
  font-size: 1em;
  margin: 0;
  padding: 0.3em 0.3em;
  width: 100%;
}

/* RULES */

.iratusrules-wrapper {
  height: 59px;
  overflow-y: hidden;
  position: relative;
  transition: height 1s;
}

.iratusrules-wrapper.always-open-for-mobile,
.iratusrules-wrapper:hover {
  height: calc(59px + 0.3em + var(--menu-panel-width));
}

.iratusrules-wrapper .newrules-btn {
  position: relative;
  z-index: 2;
}

.iratusrules-wrapper .rules-sub-grid {
  bottom: 0;
  display: grid;
  gap: 0.3em;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  width: 100%;
}

.iratusrules-wrapper .rules-sub-grid button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  padding-bottom: 100%;
  padding-top: 0;
}

.iratusrules-wrapper .rules-sub-grid button.s {
  background-image: url("../images/bs.png");
}

.iratusrules-wrapper .rules-sub-grid button.s:hover {
  background-image: url("../images/ws.png");
}

.iratusrules-wrapper .rules-sub-grid button.es {
  background-image: url("../images/bes.png");
}

.iratusrules-wrapper .rules-sub-grid button.es:hover {
  background-image: url("../images/wes.png");
}

.iratusrules-wrapper .rules-sub-grid button.d {
  background-image: url("../images/bd.png");
}

.iratusrules-wrapper .rules-sub-grid button.d:hover {
  background-image: url("../images/wd.png");
}

.iratusrules-wrapper .rules-sub-grid button.ed {
  background-image: url("../images/bed.png");
}

.iratusrules-wrapper .rules-sub-grid button.ed:hover {
  background-image: url("../images/wed.png");
}

.iratusrules-wrapper .rules-sub-grid button.dy {
  background-image: url("../images/bdy.png");
}

.iratusrules-wrapper .rules-sub-grid button.dy:hover {
  background-image: url("../images/wdy.png");
}

.iratusrules-wrapper .rules-sub-grid button.p {
  background-image: url("../images/bp.png");
}

.iratusrules-wrapper .rules-sub-grid button.p:hover {
  background-image: url("../images/wp.png");
}

.iratusrules-wrapper .rules-sub-grid button.g {
  background-image: url("../images/bg.png");
}

.iratusrules-wrapper .rules-sub-grid button.g:hover {
  background-image: url("../images/wg.png");
}

.iratusrules-wrapper .rules-sub-grid button.i {
  background-image: url("../images/bi.png");
}

.iratusrules-wrapper .rules-sub-grid button.i:hover {
  background-image: url("../images/wi.png");
}

/* SETTINGS */

.settings {
  font-family: var(--fontfamily-simple);
}

.settings h3 {
  font-size: 2rem;
  margin-top: 0;
}

.settings ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.settings li {
  display: flex;
  justify-content: space-between;
}

.settings label {
  font-size: 1.5rem;
  margin: auto 0;
}

.settings select {
  width: 60%;
}

@media (min-width: 614px) {
  header {
    align-items: normal;
    flex-direction: column;
    justify-content: normal;
    height: 100%;
    /* overflow-x: clip; */
    position: fixed;
    /* transition: width 0.1s; */
    width: var(--header-height);
  }

  /* header:hover {
    width: calc(var(--header-height) * 4);
  } */

  header h1 {
    left: 5.6rem;
    margin: 0;
    /* opacity: 0; */
    position: absolute;
    top: 0.6rem;
    /* visibility: hidden; */
  }

  header h1 {
    display: none;
  }

  .menu-bar-trigger {
    display: none;
  }
}
