.game-tools {
  margin-top: var(--body-margin);
}

.game-tools.at-right {
  margin-left: var(--body-margin);
  margin-top: 0;
  width: 400px;
}

.controls {
  height: 6em;
  display: flex;
}

.controls button {
  font-size: 3.5em;
  padding: 0;
  transition: background-color 0.2s;
  width: 100%;
}

@media only screen and (min-width: 614px) {
  .controls button:active {
    font-size: 3em;
  }
}
