/* FONT */

@font-face {
  font-family: "PierceRoman";
  font-display: swap;
  src: url("../font/PierceRoman.otf");
}

/* ALL-SITE STYLE */

:root {
  font-size: 10px;
  --desktop-minwidth: 500px;
  --fontfamily-main: "PierceRoman", "helvetica", sans-serif;
  --fontfamily-simple: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --header-height: 5rem;
  /* colors */
  --accessible: rgba(0, 0, 0, 0.2);
  --dark: rgb(21, 21, 21);
  --darker: black;
  --dark-green: rgb(22, 43, 22);
  --light-dark: rgb(64, 64, 64);
  --light-green: rgb(131, 174, 131);
  --light-grey: rgb(200 200 200);
  --selected: rgba(255, 255, 0, .5);
  --very-dark-green: rgb(10, 20, 10);
}

/* @media (min-width: 614px) {
  :root {
    --header-height: 15rem;
  }
} */

body {
  background-color: var(--dark);
  font-family: var(--fontfamily-main);
  /* font-size: 1.4rem; */
  margin: calc(var(--header-height) + 1rem) 1rem;
  /* overflow-x: clip; */
}

@media (min-width: 614px) {
  body {
    margin: 1rem 1rem 1rem calc(var(--header-height) + 1rem);
  }

  .only-mobile {
    display: none !important;
  }
}

/* BUTTON */

button {
  background-color: var(--darker);
  border: 0;
  color: var(--light-green);
  cursor: pointer;
  font-family: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background-color: var(--light-green);
  color: var(--darker);
}

#board-single button {
  margin: 0;
  border: 0;
  padding: 3px 20px;
  background-color: black;
  color: var(--light-green);
  font-size: calc(var(--square-size) * .5);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#board-single button:hover {
  background-color: var(--light-green);
  color: var(--darker);
}

/* SELECT -- credits to chess.com */

:root {
  --arrowPosition: 1rem;
  --border-color: black;
  --borderFocus: hsla(0, 0%, 100%, .3);
}

select {
  --arrowPosition: 1rem;
  --selectSize: 3.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--light-dark);
  border: .1rem solid var(--borderColor);
  border-radius: .3rem;
  color: var(--light-green);
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: .4rem calc(var(--arrowPosition) + 2rem) .4rem .8rem;
  position: relative;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select[multiple] {
  padding: 0 !important;
}

select[multiple] option {
  padding: .4rem 1rem;
}

select:not([multiple]) {
  background-image: linear-gradient(45deg, transparent 49.8%, var(--light-green) 0), linear-gradient(135deg, var(--light-green) 49.8%, transparent 0);
  background-position: calc(100% - var(--arrowPosition) - .5rem) 50%, calc(100% - var(--arrowPosition)) 50%;
  background-repeat: no-repeat;
  background-size: .5rem .5rem, .5rem .5rem;
  height: var(--selectSize);
}

select:not([multiple]) option {
  background-color: var(--light-dark);
  color: var(--light-green);
}

select:not([multiple]) optgroup {
  color: var(--light-green);
}

select:disabled {
  background-color: red;
  cursor: not-allowed;
  opacity: 1;
}

select:focus:not(:disabled),
select:hover:not(:disabled) {
  border-color: var(--borderFocus);
  color: var(--light-green);
}

select.ui_v5-select-large {
  --arrowPosition: 1.5rem;
  --selectSize: 4rem;
  font-size: 1.5rem;
  padding: .8rem calc(var(--arrowPosition) + 2rem) .8rem 1rem;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: .8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darker);
}