/* FONT */

@font-face {
  font-family: "PierceRoman";
  font-display: swap;
  src: url("../font/PierceRoman.otf");
}

/* ALL-SITE STYLE */

:root {
  font-size: 10px;
  --desktop-minwidth: 500px;
  --fontfamily-main: "PierceRoman", "helvetica", sans-serif;
  --fontfamily-simple: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --header-height: 5rem;
  --select-height: 3.2rem;
  /* colors */
  --accessible: rgba(0, 0, 0, 0.2);
  --dark: rgb(21, 21, 21);
  --darker: black;
  --light-dark: rgb(64, 64, 64);
  --light-green: rgb(131, 174, 131);
  --special-color: rgb(131, 174, 131);
  --selected: rgba(255, 255, 0, 0.5);
}

button,
div,
svg {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: var(--dark);
  font-family: var(--fontfamily-main);
  /* font-size: 1.4rem; */
  margin: calc(var(--header-height) + 1rem) 1rem 1rem;
  /* overflow-x: clip; */
}

@media (min-width: 614px) {
  body {
    margin: 1rem 1rem 1rem calc(var(--header-height) + 1rem);
  }

  .only-mobile {
    display: none !important;
  }
}

/* LIGHT / DARK MODE */

body.animating-dark-mode,
body.animating-dark-mode * {
  transition: background-color 1s, box-shadow 1s, color 1s, fill 1s;
}

body.light-mode {
  /* colors */
  --dark: rgb(180, 180, 180);
  --darker: rgb(131, 131, 131);
  --light-dark: rgb(150, 150, 150);
  --light-green: rgb(0, 0, 0);
  --special-color: rgb(129, 73, 136);
}

body.easy-reading {
  font-family: var(--fontfamily-simple);
}

/* gpt */
.switch {
  flex-shrink: 0;
  position: relative;
  display: inline-block;
  width: 60px;
  height: var(--select-height);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 1em;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-dark);
  transition: 0.4s;
}

.slider:before {
  border-radius: 1em;
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--special-color);
}

input:checked + .slider:before {
  transform: translateX(27px);
}

/* BUTTON */

button {
  background-color: var(--darker);
  border: 0;
  color: var(--light-green);
  cursor: pointer;
  font-family: inherit;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background-color: var(--light-green);
  color: var(--darker);
}

#board-single button {
  margin: 0;
  border: 0;
  padding: 3px 20px;
  background-color: black;
  color: var(--light-green);
  font-size: calc(var(--square-size) * 0.5);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#board-single button:hover {
  background-color: var(--light-green);
  color: var(--darker);
}

/* SELECT -- credits to chess.com */

:root {
  --arrowPosition: 1rem;
  --border-color: black;
  --borderFocus: hsla(0, 0%, 100%, 0.3);
}

select {
  --arrowPosition: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--light-dark);
  border: 0.1rem solid var(--borderColor);
  border-radius: 0.3rem;
  color: var(--light-green);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0.4rem calc(var(--arrowPosition) + 2rem) 0.4rem 0.8rem;
  position: relative;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select[multiple] {
  padding: 0 !important;
}

select[multiple] option {
  padding: 0.4rem 1rem;
}

select:not([multiple]) {
  background-image: linear-gradient(
      45deg,
      transparent 49.8%,
      var(--light-green) 0
    ),
    linear-gradient(135deg, var(--light-green) 49.8%, transparent 0);
  background-position: calc(100% - var(--arrowPosition) - 0.5rem) 50%,
    calc(100% - var(--arrowPosition)) 50%;
  background-repeat: no-repeat;
  background-size: 0.5rem 0.5rem, 0.5rem 0.5rem;
  height: var(--select-height);
}

select:not([multiple]) option {
  background-color: var(--light-dark);
  color: var(--light-green);
}

select:not([multiple]) optgroup {
  color: var(--light-green);
}

select:disabled {
  background-color: red;
  cursor: not-allowed;
  opacity: 1;
}

select:focus:not(:disabled),
select:hover:not(:disabled) {
  border-color: var(--borderFocus);
  color: var(--light-green);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darker);
}
