
/* UTILITIES */

.reversed {
    transform: rotateY(180deg);
}

/* ALL-SITE STYLE */

:root {
  --dark-green: rgb(0, 32, 0);
  --light-green: rgb(67, 131, 67);
}

html {
    margin: 0;
    height: 100%;
}

body {
    font-family: "pierce", "helvetica";
    margin: 0;
    height: 100%;
    display: flex;
    background-color: var(--dark-green);
}

button {
    margin: 0;
    border: 0;
    padding: 3px 20px;
    background-color: black;
    color: var(--light-green);
    font-family: "pierce";
    font-size: 22px;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-green);
    color: black;
}

.all {
    flex: 1 1 auto;
    margin: 20px;

    background-color: var(--dark-green);
    border: 5px solid var(--light-green);
    padding: 10px;

    text-align: center;
    display: flex;
    flex-flow: column;
}

.mainzone {
    background-color: var(--light-green);
    flex: 1 1 auto;
    overflow-y: auto;
}

.mainzone h1 {
    margin: 0;
    padding: 120px;
    padding-bottom: 20px;
}

.bar {
    background-color: black;
    flex: 0 1 auto;
}

.bar-dogleft {
    image-rendering: pixelated;
    height: 75px;
    position: absolute;
    top:37px;
    left:37px;
}

.bar-dogright {
    image-rendering: pixelated;
    height: 75px;
    position: absolute;
    top:37px;
    right:37px;
}

/* HOME STYLE */

.title {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

.title button {
    flex: 1;
    border: 2px solid black;
    font-size: 60px;
    margin: 30px 60px;
}
