
/* UTILITIES */

.reversed {
  transform: rotateY(180deg);
}

/* FONT */

@font-face {
  font-family: "PierceRoman";
  src: url("font/PierceRoman.otf");
}

/* ALL-SITE STYLE */

:root {
  --very-dark-green: rgb(10, 20, 10);
  --dark-green: rgb(22, 43, 22);
  --light-green: rgb(68, 105, 68);
  --selected: rgb(63, 131, 17);
  --accessible: rgba(39, 92, 4, 0.3);
}

html {
  margin: 0;
  height: 100%;
}

body {
  font-family: "PierceRoman", "helvetica";
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header h1 {
  color: var(--light-green);
  /* font-weight: normal; */
}

header button {
  /* width: 100%; */
  height: var(--square-size);
  /* position: absolute; */
  border: 2px solid black;
}

button {
  margin: 0;
  border: 0;
  padding: 3px 20px;
  background-color: black;
  color: var(--light-green);
  font-family: "PierceRoman";
  font-size: calc(var(--square-size) * .6);
  cursor: pointer;
}

button:hover {
    background-color: var(--light-green);
    color: black;
}

.all {
  flex: 1 1 auto;
  background-color: rgb(0 0 0);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.bar {
  background-color: black;
  flex: 0 1 auto;
  height: 36px;
}

.bar-dogleft {
  height: 0px;
}

.bar-dogright {
  height: 0px;
}

.controls {
  background-color: black;
  width: calc(var(--square-size) * 8);
  height: var(--square-size);
  display: flex;
  justify-content: center;
}

.controls button {
  padding: 0;
  width: var(--square-size);
}

.mainzone {
  /* background-color: var(--light-green); */
  /* flex: 1 1 auto; */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainzone h1 {
  margin: 0;
  padding: 120px;
  padding-bottom: 20px;
}

#info {
  position: absolute;
  left: 50%;
  top: calc(var(--square-size) * (6 - 4 * .8));
  width: calc(var(--square-size) * 8 * .8);
  transform: translateX(-50%);
  background-color: var(--light-green);
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.63rem 0.07rem rgb(0 0 0 / 40%);
  height: calc(var(--square-size) * 8 * .8);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* settings to change at end of game */
  visibility: hidden;
  pointer-events: none;
}

#info h2 {
  font-size: 40px;
  flex: 1 1 auto;
  margin: 20px;
}

#info p {
  font-size: 25px;
  flex: 5 1 auto;
  margin: 0;
}

#info img {
  flex: 5 1 auto;
  aspect-ratio: auto;
  max-width: calc(var(--square-size) * 2);
}

#info button {
  border: 2px solid black;
  flex: 0 1 auto;
  margin: 40px;
}

/* HOME STYLE */

.title {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

.title button {
  flex: 1;
  border: 2px solid black;
  font-size: 60px;
  margin: 30px 60px;
}

@medi(min-width:800px) {

  body {
    flex-direction: unset;
  }

  .all {
    flex: 1 1 auto;
    margin: 20px;

    background-color: var(--dark-green);
    border: 5px solid var(--light-green);
    padding: 10px;

    text-align: center;
    display: flex;
    flex-flow: column;
  }

  .bar-dogleft {
    image-rendering: pixelated;
    height: 72px;
    position: absolute;
    top:35px;
    left:35px;
  }
  
  .bar-dogright {
    image-rendering: pixelated;
    height: 72px;
    position: absolute;
    top:35px;
    right:35px;
  }

  .buttons {
    background-color: black;
    flex-direction: column;
    width: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons button {
    width: 100%;
  }
}
