
/* UTILITIES */

.reversed {
  transform: rotateY(180deg);
}

/* FONT */

@font-face {
  font-family: "PierceRoman";
  src: url("font/PierceRoman.otf");
}

/* ALL-SITE STYLE */

:root {
  --very-dark-green: rgb(10, 20, 10);
  --dark-green: rgb(22, 43, 22);
  --light-green: rgb(68, 105, 68);
  --light-grey: rgb(200 200 200);
  --selected: rgb(63, 131, 17);
  --accessible: rgba(39, 92, 4, 0.3);
}

html {
  margin: 0;
  height: 100%;
}

body {
  font-family: "PierceRoman", "helvetica";
  margin: 0;
  display: flex;
  flex-direction: column;
}

header h1 {
  color: var(--light-green);
  /* font-weight: normal; */
}

header button {
  /* width: 100%; */
  height: var(--square-size);
  /* position: absolute; */
  border: 2px solid black;
}

button {
  margin: 0;
  border: 0;
  padding: 3px 20px;
  background-color: black;
  color: var(--light-green);
  font-family: "PierceRoman";
  font-size: calc(var(--square-size) * .5);
  cursor: pointer;
}

button:hover {
    background-color: var(--light-green);
    color: black;
}

.height-100 {
  height: 100%;
}

.all {
  flex: 1 1 auto;
  background-color: rgb(0 0 0);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.bar {
  background-color: black;
  flex: 0 1 auto;
  height: 36px;
}

.bar-dogleft {
  height: 0px;
}

.bar-dogright {
  height: 0px;
}

.controls {
  background-color: black;
  width: calc(var(--square-size) * 8);
  height: var(--square-size);
  display: flex;
  justify-content: center;
}

.controls button {
  padding: 0;
  width: var(--square-size);
}

.mainzone {
  /* background-color: var(--light-green); */
  /* flex: 1 1 auto; */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainzone h1 {
  margin: 0;
  padding: 120px;
  padding-bottom: 20px;
}

#info {
  position: absolute;
  left: 50%;
  top: 18%;
  width: calc(var(--square-size) * 8 * .8);
  transform: translateX(-50%);
  background-color: var(--light-green);
  border-radius: 0.6rem;
  box-shadow: 0 0.3rem 0.63rem 0.07rem rgb(0 0 0 / 40%);
  height: calc(var(--square-size) * 8 * .8);
  display: flex;
  flex-direction: column;
  align-items: center;

  /* settings to change at end of game */
  visibility: hidden;
  pointer-events: none;
}

#info h2 {
  font-size: calc(var(--square-size) * 2 / 3);
  flex: 1 1 auto;
  margin: calc(var(--square-size) / 3);
}

#info p {
  font-size: calc(var(--square-size) / 2);
  flex: 5 1 auto;
  margin: 0;
}

#info img {
  flex: 5 1 auto;
  aspect-ratio: auto;
  margin-top: calc(var(--square-size) * -.3);
  max-width: calc(var(
  --square-size) * 2);
}

#info button {
  border: 2px solid black;
  flex: 0 1 auto;
  margin: calc(var(--square-size) * 2 / 3);
}

/* HOME STYLE */

.title {
  width: 800px;
  margin: 0 auto;
  display: flex;
}

.title button {
  flex: 1;
  border: 2px solid black;
  font-size: 60px;
  margin: 30px 60px;
}

/* Rules style */

.rules {
  margin: 20px;
  border: 2px solid var(--light-green);
  padding: 20px;
  color: var(--light-green);
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction:column;
}

@media only screen and (min-width: 1024px) {
  .rules {
    margin: 20px 200px;
  }
}

.rules a {
  margin: 0 auto;
  border: 1px solid var(--light-green);
  font-size: large;
}

.rules a:hover {
  color: black;
  background-color: var(--light-green);
}

.rules-sep {
/*   border-top: 6px solid green; */
  height: 4px;
  width: 100%;
  background-color: var(--light-green);
}

.rules-title {
  margin: 0 auto;
  font-size: xx-large;
}

.rules p {
  margin: 0 auto;
  font-size: large;
  text-align: center;
}