:root {
  --square-size: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#highlighters,
#extracells {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#cells {
  background-color: rgba(0, 0, 0, 0);
}

.square {
  /* touch-action: none; */
}

.cell,
.extracell {
  width: var(--square-size);
  height: var(--square-size);
  background-size: contain;
}

.dragging {
  z-index: 2;
}

.phantom {
  opacity: .7;
}

/* PROMOTION */

.promotion-window {
  background-color: var(--light-green);
  border-radius: 3px;
  bottom: 0;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 45%);
  display: flex;
  flex-direction: column-reverse;
  height: 65%;
  left: 0;
  position: absolute;
  top: auto;
  width: 12.5%;
  z-index: 3;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
}

.promotion-cancel {
  height: calc(var(--square-size) / 2);
  display: flex;
  justify-content: center;
}

.promotion-cancel p {
  height: 100%;
  font-size: 135%;
  margin: 0;
}

.promotion-window.top {
  top: 0;
  bottom: auto;
}

.promotion-piece {
  height: var(--square-size);
  background-size: contain;
}

.promotion-window.top .q {
  order: 6;
}

.promotion-window.top .n {
  order: 5;
}

.promotion-window.top .r {
  order: 4;
}

.promotion-window.top .b {
  order: 3;
}

.promotion-window.top .ed {
  order: 2;
}

.promotion-window.top .ss {
  order: 1;
}