
:root {
  --square-size: 60px;
}

#content {
  width: calc(var(--square-size) * 8);
  height: calc(var(--square-size) * 10);
  position: relative;
  display: inline-block;
  background-image: url("images/iratusboard.png");
  background-size: contain;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#highlighters, #extracells {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

#cells {
  background-color: rgba(0, 0, 0, 0);
}

.square {
  touch-action: none;
}

.cell, .extracell {
  width: var(--square-size);
  height: var(--square-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.selected {
  /* for the selected piece */
  background-color: var(--selected);
}

.accessible {
  /* for the accesssible moves */
  background-color: var(--accessible);
}

.dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  z-index: 2;
}
