
.reversed {
    transform: rotateY(180deg);
}

.mainzone h1 {
    margin: 0;
    padding: 120px;
    padding-bottom: 20px;
}

.bar-dogleft {
    height: 75px;
    position: absolute;
    top:37px;
    left:37px;
}

