
.reversed {
    transform: rotateY(180deg);
}

.mainzone h1 {
    margin: 0;
    padding: 60px;
    padding-bottom: 20px;
}

.bar-dogleft {
    height: 75px;
    position: absolute;
    top:37px;
    left:37px;
}

.bar-dogright {
    height: 75px;
    position: absolute;
    top:37px;
    right:37px;
}

/*HOME*/
.title {
    width: 600px;
    margin: 60px auto;
    display: flex;
}

.title h1 {
    flex: 1;
    font-size: 60px;
    padding-top: 30px;
}
