:root {
  --dark-green: rgb(22, 43, 22);
  --light-green: rgb(68, 105, 68);
  --selected: rgb(17, 57, 131);
  --accessible: rgba(4, 27, 92, 0.3);
}

body {
  background: linear-gradient(35deg, red, purple);
}